
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #3fa2ff ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #3fa2ff;
    border-bottom:5px solid #3fa2ff;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #3fa2ff;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

  /* Featurettes
  ------------------------- */
  .featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
  /* Thin out the marketing headings */
  .featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  }
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
  margin-top: 20px;
  }
  .navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
  }
  .navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
  border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
  }
  .featurette-heading {
  font-size: 50px;
  }
  }
  @media (min-width: 992px) {
  .featurette-heading {
  margin-top: 120px;
  }

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #3fa2ff;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#3fa2ff;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #3fa2ff;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }

    #contact .card:hover i,#contact .card:hover h4{
      color: #87d37c;
    }
